<a href="https://colab.research.google.com/github/lizagonch/Discourse-BERT/blob/master/Processing_brackets_file.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [104]:
import pandas as pd
import re

In [338]:
br = pd.read_csv('/content/CD_review1_1000006.txt.brackets', sep=', ', header=None, names = ['start', 'end', 'type', 'RST'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

In [339]:
br

   start  end         type             RST
0    ((1   1)  'Satellite'    'condition')
1    ((2   2)    'Nucleus'         'span')
2    ((3   3)    'Nucleus'         'span')
3    ((4   4)    'Nucleus'         'span')
4    ((5   5)    'Nucleus'         'span')
5    ((6   6)    'Nucleus'         'span')
6    ((7   7)    'Nucleus'         'span')
7    ((8   8)    'Nucleus'         'span')
8    ((9   9)    'Nucleus'         'span')
9   ((10  10)  'Satellite'  'elaboration')
10   ((9  10)    'Nucleus'    'same_unit')
11  ((11  11)    'Nucleus'         'span')
12  ((12  12)    'Nucleus'         'span')
13  ((13  13)    'Nucleus'         'span')
14  ((14  14)    'Nucleus'         'span')
15  ((15  15)  'Satellite'  'elaboration')
16  ((14  15)    'Nucleus'         'span')
17  ((16  16)  'Satellite'    'condition')
18  ((14  16)  'Satellite'  'elaboration')
19  ((13  16)  'Satellite'      'purpose')
20  ((12  16)  'Satellite'  'elaboration')
21  ((11  16)    'Nucleus'    'same_unit')
22   ((9  16)  'Satellite'  'elaboration')
23   ((8  16)  'Satellite'  'elaboration')
24   ((7  16)  'Satellite'  'elaboration')
25   ((6  16)  'Satellite'  'elaboration')
26   ((5  16)  'Satellite'  'elaboration')
27   ((4  16)  'Satellite'  'elaboration')
28   ((3  16)  'Satellite'  'elaboration')
29   ((2  16)    'Nucleus'         'span')

In [340]:
def del_brackets(text):
    return re.sub(r'[\'*\)*\(*]', '', text)

In [341]:
for j in br.columns:
  br[j] = br[j].apply(del_brackets)

In [342]:
br

   start end       type          RST
0      1   1  Satellite    condition
1      2   2    Nucleus         span
2      3   3    Nucleus         span
3      4   4    Nucleus         span
4      5   5    Nucleus         span
5      6   6    Nucleus         span
6      7   7    Nucleus         span
7      8   8    Nucleus         span
8      9   9    Nucleus         span
9     10  10  Satellite  elaboration
10     9  10    Nucleus    same_unit
11    11  11    Nucleus         span
12    12  12    Nucleus         span
13    13  13    Nucleus         span
14    14  14    Nucleus         span
15    15  15  Satellite  elaboration
16    14  15    Nucleus         span
17    16  16  Satellite    condition
18    14  16  Satellite  elaboration
19    13  16  Satellite      purpose
20    12  16  Satellite  elaboration
21    11  16    Nucleus    same_unit
22     9  16  Satellite  elaboration
23     8  16  Satellite  elaboration
24     7  16  Satellite  elaboration
25     6  16  Satellite  elaboration
26     5  16  Satellite  elaboration
27     4  16  Satellite  elaboration
28     3  16  Satellite  elaboration
29     2  16    Nucleus         span

In [343]:
type(br['start'][0])

str

In [344]:
br = br.astype({'start': 'int64', 'end': 'int64', 'RST': 'string', 'type': 'string'})

In [345]:
br.dtypes

start     int64
end       int64
type     string
RST      string
dtype: object

In [346]:
br['type'] == 'Satellite'

0      True
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9      True
10    False
11    False
12    False
13    False
14    False
15     True
16    False
17     True
18     True
19     True
20     True
21    False
22     True
23     True
24     True
25     True
26     True
27     True
28     True
29    False
Name: type, dtype: boolean

In [347]:
br['type'][0]

'Satellite'

In [348]:
terminal_nodes = br[br.start == br.end]

In [349]:
terminal_nodes

    start  end       type          RST
0       1    1  Satellite    condition
1       2    2    Nucleus         span
2       3    3    Nucleus         span
3       4    4    Nucleus         span
4       5    5    Nucleus         span
5       6    6    Nucleus         span
6       7    7    Nucleus         span
7       8    8    Nucleus         span
8       9    9    Nucleus         span
9      10   10  Satellite  elaboration
11     11   11    Nucleus         span
12     12   12    Nucleus         span
13     13   13    Nucleus         span
14     14   14    Nucleus         span
15     15   15  Satellite  elaboration
17     16   16  Satellite    condition

In [350]:
terminal_nodes_dict = {}
for index, row in terminal_nodes.iterrows():
  terminal_nodes_dict[row.start] = row.type

In [351]:
terminal_nodes_dict

{1: 'Satellite',
 2: 'Nucleus',
 3: 'Nucleus',
 4: 'Nucleus',
 5: 'Nucleus',
 6: 'Nucleus',
 7: 'Nucleus',
 8: 'Nucleus',
 9: 'Nucleus',
 10: 'Satellite',
 11: 'Nucleus',
 12: 'Nucleus',
 13: 'Nucleus',
 14: 'Nucleus',
 15: 'Satellite',
 16: 'Satellite'}

In [352]:
n_s = br[br['RST'] == 'span']

In [353]:
sat = br[br['RST'] != 'span']

In [354]:
n_s

    start  end     type   RST
1       2    2  Nucleus  span
2       3    3  Nucleus  span
3       4    4  Nucleus  span
4       5    5  Nucleus  span
5       6    6  Nucleus  span
6       7    7  Nucleus  span
7       8    8  Nucleus  span
8       9    9  Nucleus  span
11     11   11  Nucleus  span
12     12   12  Nucleus  span
13     13   13  Nucleus  span
14     14   14  Nucleus  span
16     14   15  Nucleus  span
29      2   16  Nucleus  span

In [355]:
sat

    start  end       type          RST
0       1    1  Satellite    condition
9      10   10  Satellite  elaboration
10      9   10    Nucleus    same_unit
15     15   15  Satellite  elaboration
17     16   16  Satellite    condition
18     14   16  Satellite  elaboration
19     13   16  Satellite      purpose
20     12   16  Satellite  elaboration
21     11   16    Nucleus    same_unit
22      9   16  Satellite  elaboration
23      8   16  Satellite  elaboration
24      7   16  Satellite  elaboration
25      6   16  Satellite  elaboration
26      5   16  Satellite  elaboration
27      4   16  Satellite  elaboration
28      3   16  Satellite  elaboration

In [356]:
sat[sat.type == 'Nucleus']

    start  end     type        RST
10      9   10  Nucleus  same_unit
21     11   16  Nucleus  same_unit

In [357]:
def find_left_head(terminal_nodes_dict, row):
  k = row.start
  while (terminal_nodes_dict[k] != 'Nucleus' or k > row.end):
    k += 1
  return k

In [358]:
# Dependency discourse graph
ddg = {}
max_rel_number = len(terminal_nodes_dict)
print(max_rel_number)

16

In [359]:
for index, row in n_s.iterrows():
  if (row.start == row.end):
    candidate = sat[(sat.start == row.start + 1) & (sat.type == 'Satellite')]
    ddg[candidate.start.values[0]] = [row.start, candidate.RST.values[0]]
  elif (row.start < row.end and row.end == max_rel_number):
    print(row)
    candidate = sat[(sat.end == row.start - 1) & (sat.type == 'Satellite')]
    ddg[row.start] = [candidate.start.values[0], candidate.RST.values[0]]
  elif (row.start < row.end and row.end < max_rel_number):
    candidate = sat[(sat.end == row.end + 1) & (sat.type == 'Satellite')]
    print(candidate)
    head_start = find_left_head(terminal_nodes_dict, row)
    ddg[candidate.start.values[0]] = [head_start, candidate.RST.values[0]]

sat_nucl = sat[sat.type == 'Nucleus']
for i in range(0, sat_nucl.shape[0], 2):
  row = sat_nucl.iloc[0]
  head_start = find_left_head(terminal_nodes_dict, row)
  candidate = sat_nucl[sat.start == row.end + 1]
  head_end = find_left_head(terminal_nodes_dict, candidate.iloc[0])
  ddg[head_end] = [head_start, candidate.RST.values[0]]

    start  end       type          RST
17     16   16  Satellite    condition
18     14   16  Satellite  elaboration
19     13   16  Satellite      purpose
20     12   16  Satellite  elaboration
22      9   16  Satellite  elaboration
23      8   16  Satellite  elaboration
24      7   16  Satellite  elaboration
25      6   16  Satellite  elaboration
26      5   16  Satellite  elaboration
27      4   16  Satellite  elaboration
28      3   16  Satellite  elaboration
start          2
end           16
type     Nucleus
RST         span
Name: 29, dtype: object

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:19: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

In [360]:
ddg

{2: [1, 'condition'],
 3: [2, 'elaboration'],
 4: [3, 'elaboration'],
 5: [4, 'elaboration'],
 6: [5, 'elaboration'],
 7: [6, 'elaboration'],
 8: [7, 'elaboration'],
 9: [8, 'elaboration'],
 10: [9, 'elaboration'],
 11: [9, 'same_unit'],
 12: [11, 'elaboration'],
 13: [12, 'purpose'],
 14: [13, 'elaboration'],
 15: [14, 'elaboration'],
 16: [14, 'condition']}