In [2]:
import pandas as pd
import zipfile
import os
import time

In [ ]:
#Get data zip-files
! wget #path_to_the_UKP_corpus

In [ ]:
zip_file = 'train_data.zip'

z = zipfile.ZipFile(zip_file, 'r')
z.extractall()

print(os.listdir())

In [6]:
train_abortion = pd.read_csv('/content/train_abortion.tsv', sep='\t')
train_cloning = pd.read_csv('/content/train_cloning.tsv', sep='\t')
train_death_penalty = pd.read_csv('/content/train_death_penalty.tsv', sep='\t')
train_gun_control = pd.read_csv('/content/train_gun_control.tsv', sep='\t')
train_marijuana_legalization = pd.read_csv('/content/train_marijuana_legalization.tsv', sep='\t')
train_minimum_wage = pd.read_csv('/content/train_minimum_wage.tsv', sep='\t')
train_nuclear_energy = pd.read_csv('/content/train_nuclear_energy.tsv', sep='\t')
train_school_uniforms = pd.read_csv('/content/train_school_uniforms.tsv', sep='\t')

In [7]:
train_abortion.head()

                                               words  ... code_class
0     It was amazing to me that minors were required  ...          0
1  that minors were required to get parental consent  ...          0
2  but they were allowed to have this major surgi...  ...          0
3                        having any say whatsoever .  ...          0
4  before getting ears pierced or a tattoo , but ...  ...          0

[5 rows x 6 columns]

In [8]:
a = pd.concat([train_abortion, train_cloning, train_death_penalty, train_gun_control, train_marijuana_legalization, train_minimum_wage, train_nuclear_energy], ignore_index=True) # train_school_uniforms

In [9]:
train_data = a[['words', 'rst', 'class', 'segment']]
train_data.head()

                                               words  ... segment
0     It was amazing to me that minors were required  ...    2574
1  that minors were required to get parental consent  ...    2574
2  but they were allowed to have this major surgi...  ...    2574
3                        having any say whatsoever .  ...    2574
4  before getting ears pierced or a tattoo , but ...  ...    2574

[5 rows x 4 columns]

In [10]:
import numpy as np
from sklearn.model_selection import train_test_split

In [11]:
from sklearn import preprocessing

In [12]:
le = preprocessing.LabelEncoder()
le.fit(train_data.rst.values)
train_data['rst_code'] = le.transform(train_data.rst.values)
le.classes_

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

array(['antithesis', 'attribution', 'circumstance', 'comparison',
       'concession', 'condition', 'consequence', 'contrast',
       'disjunction', 'elaboration', 'example', 'explanation', 'list',
       'manner', 'means', 'none', 'purpose', 'question', 'reason',
       'result', 'same_unit', 'sequence', 'temporal',
       'textualorganization', 'topic'], dtype=object)

In [13]:
len(le.classes_)

25

In [14]:
le1 = preprocessing.LabelEncoder()
le1.fit(train_data['class'].values)
train_data['class_code'] = le1.transform(train_data['class'].values)
le1.classes_

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

array(['Argument', 'NoArgument'], dtype=object)

In [15]:
def encode_dataset(name_of_task, data_name, le, le1):
  data_name.loc[data_name.rst == 'summary', 'rst'] = 'reason'
  data_name['rst_code'] = le.transform(data_name.rst.values)
  data_name['class_code'] = le1.transform(data_name['class'].values)
  data_name.to_csv('encoded/test_encoded_' + name_of_task + '.tsv', sep='\t', index = False)

In [28]:
!mkdir encoded

In [30]:
encode_dataset('all_7', train_data, le, le1)

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [31]:
test_abortion = pd.read_csv('/content/test_abortion.tsv', sep='\t')
test_cloning = pd.read_csv('/content/test_cloning.tsv', sep='\t')
test_death_penalty = pd.read_csv('/content/test_death_penalty.tsv', sep='\t')
test_gun_control = pd.read_csv('/content/test_gun_control.tsv', sep='\t')
test_marijuana_legalization = pd.read_csv('/content/test_marijuana_legalization.tsv', sep='\t')
test_minimum_wage = pd.read_csv('/content/test_minimum_wage.tsv', sep='\t')
test_nuclear_energy = pd.read_csv('/content/test_nuclear_energy.tsv', sep='\t')
test_school_uniforms = pd.read_csv('/content/test_school_uniforms.tsv', sep='\t')

In [32]:
b = pd.concat([test_abortion, test_cloning, test_death_penalty, test_gun_control, test_marijuana_legalization, test_minimum_wage, test_nuclear_energy, test_school_uniforms], ignore_index=True)

In [33]:
test_data = b[['words', 'rst', 'class', 'segment']]
test_data.head()

                                               words  ... segment
0    Will it have the power to force sterilization ?  ...    3422
1  The number of couples out there who can not ha...  ...     385
2  The number of couples out there of their own f...  ...     385
3  If we criminalize abortion , many woman will s...  ...     467
4  They speak of overwhelming guilt , nightmares ...  ...     456

[5 rows x 4 columns]

In [34]:
test_data.groupby('rst').count()

                     words  class  segment
rst
antithesis               4      4        4
attribution            535    535      535
circumstance            56     56       56
comparison              27     27       27
concession              14     14       14
condition               97     97       97
contrast                 5      5        5
disjunction              1      1        1
elaboration           1688   1688     1688
example                  8      8        8
explanation              4      4        4
list                   263    263      263
manner                  21     21       21
means                   21     21       21
none                   639    639      639
purpose                198    198      198
reason                  55     55       55
result                   1      1        1
same_unit              133    133      133
sequence                 4      4        4
summary                  1      1        1
temporal                16     16       16
textualorganization     73     73       73

In [35]:
test_data.loc[test_data.rst == 'summary', 'rst'] = 'reason'

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

In [36]:
test_data['rst_code'] = le.transform(test_data.rst.values)
test_data['class_code'] = le1.transform(test_data['class'].values)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [37]:
test_data.head()

                                               words  ... class_code
0    Will it have the power to force sterilization ?  ...          1
1  The number of couples out there who can not ha...  ...          1
2  The number of couples out there of their own f...  ...          1
3  If we criminalize abortion , many woman will s...  ...          0
4  They speak of overwhelming guilt , nightmares ...  ...          0

[5 rows x 6 columns]

In [38]:
test_d, dev_data = train_test_split(test_data, test_size=0.33, shuffle=True)

In [39]:
test_d.shape

(2588, 6)

In [40]:
train_data.to_csv('train_UKP.tsv', sep='\t')
test_d.to_csv('test_UKP.tsv', sep='\t')
dev_data.to_csv('dev_UKP.tsv', sep='\t')

In [41]:
task_datasets = [test_abortion, test_cloning, test_death_penalty, test_gun_control, test_marijuana_legalization, test_minimum_wage, test_nuclear_energy, test_school_uniforms]
task_names = ['abortion', 'cloning', 'gun_control', 'marijuana_legalization', 'minimum_wage', 'nuclear_energy', 'school_uniforms']

for i in range(len(task_names)):
  encode_dataset(task_names[i], task_datasets[i], le, le1)

In [42]:
path = 'encoded/'
file_dir = os.listdir(path)

with zipfile.ZipFile('test_encoded_UKP_datasets.zip', mode='w', compression=zipfile.ZIP_DEFLATED) as zf:
    for dirpath, dirnames, filenames in os.walk(path):
      for filename in filenames:
        print("Файл:", os.path.join(dirpath, filename))
        add_file = os.path.join(dirpath, filename)
        zf.write(add_file)

os.system('test_encoded_UKP_datasets.zip')

Файл: encoded/test_encoded_cloning.tsv
Файл: encoded/test_encoded_nuclear_energy.tsv
Файл: encoded/test_encoded_minimum_wage.tsv
Файл: encoded/test_encoded_gun_control.tsv
Файл: encoded/test_encoded_abortion.tsv
Файл: encoded/test_encoded_school_uniforms.tsv
Файл: encoded/test_encoded_marijuana_legalization.tsv
Файл: encoded/test_encoded_all_7.tsv

32512